{% extends "base.html" %}

{% block main %}
<div id="app">
    <app-header></app-header>

    <main>
        <div class="container">
            <!-- component matched by the route will render here -->
            <router-view></router-view>
        </div>
    </main>

    <app-footer></app-footer>
</div>
{% endblock %}

<!--
    {% extends "base.html" %}
    
    {% block main %}
    
    <h1>Demo User App</h1>
    {% include 'flash_messages.html' %}
    <p class="titlelogo">This demo app demonstrates the use of Flask-Login and Flask-Migrate extensions</p>
    {% endblock %}
-->
